<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Facebook OAuth Example</title>
    <link rel="stylesheet" type="text/css" href="statics/styles/layout.css" />
  </head>
  <body>
    {% if current_user %}
		<div id="wrap">
		<div id="header">
		<p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture"/></a></p>
      	<p>You are logged in as {{ current_user.name|escape }}</p>
		</div>
		<div id="nav">
		</div>
		<div id="main">
		links
		</div>
		<div id="sidebar">
		{% if user_friends %}
			<ul>
      		{% for user in user_friends %}
    			<li><a href="facebook/{{user.id}}/links">{{user.name}}</a></li>
			{% endfor %}
			</ul>
      	{% endif %}
		</div>
		<div id="footer"></div>
			<a href="/myeworld/logout">Log out</a>
		</div>
    {% else %}
      <p>You are not yet logged into this site</p>
      <p><a href="/myeworld/login">Log in with Facebook</a></p>
    {% endif %}
  </body>
</html>